<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
	<link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>
<body>
	<p>Hello {{ name }}</p>
	<script type="text/javascript" src="/assets/vendor.min.js"></script>
	<script type="text/javascript" src="/assets/app.min.js"></script>
</body>
</html>